/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: LilyUPC;
  src: url("/fonts/UPCLBI.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Sarabun", "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

html,
body {
  font-size: 15px;
  /* overflow: hidden; */
}

.bg-login {
  background: url(https://snc-services.sncformer.com/ivrs/admin/images/bg.png);
  background-size: 1100px;
  background-position: bottom right;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

/* style scroll bar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.request-blink {
  animation: request-blink-animate 1.5s infinite;
}

@keyframes request-blink-animate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transition: 0.3s;
    transform: scale(1.5);
    box-shadow: 0 0 30px 8px rgba(255, 255, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
  @page {
    size: A4;
    margin: 5mm 5mm 5mm 5mm;
  }

  .watermark {
    display: block;
    counter-increment: page;
    position: fixed;
    /* color: #eaeaea !important; */
    z-index: -1000;
  }

  div.page-footer,
  div.footer-info {
    display: block;
  }
  .date-footer {
    display: block;
    counter-increment: page;
    position: fixed;
    bottom: -3px;
    right: 0;
    text-align: end;
    font-size: 10px;
    opacity: 0.8;
  }

  .exporter-footer {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: end;
    font-size: 10px;
    opacity: 0.8;
  }

  div.page-number {
    display: block;
    counter-increment: page;
    position: fixed;
    bottom: -5;
    right: 0;
    text-align: end;
    font-size: 10px;
    opacity: 0.8;
  }

  .page-number::after {
    content: counter(page);
  }
}

/* .swal2-confirm */
/* ทุกปุ่มใน alert */
.swal2-confirm {
  font-size: 14px !important;
  width: 110px;
  font-weight: 400;
  padding: 0.5rem 0.75rem;
}

.swal2-confirm:focus {
  box-shadow: none !important;
}

.swal2-cancel {
  width: 110px;
  font-size: 14px !important;
  font-weight: 400;
  padding: 0.5rem 0.75rem;
  background-color: #e5e5e5 !important;
  color: #000 !important;
}

.font-lily {
  font-family: LilyUPC !important;
  color: #dadada !important;
  opacity: 0.3;
}
